<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <connectionStrings>
    <clear/>
    <!--todavia esto no esta activo. Modificar y definir una conexion valida. -->
    <add name="CS" connectionString="Data Source=10.26.12.133,1433;Network Library=DBMSSOCN;Initial Catalog=Biometric;User ID=usr;Password=bio;"/>
    <!--<add name="CS" connectionString="Data Source=WS60687;Network Library=DBMSSOCN;Initial Catalog=Biometric;User ID=usr_test;Password=test;"/>-->
  </connectionStrings>

  <appSettings>
    <!--Horario de ingreso predeterminado de empleados-->
    <add key="NombreClave" value="Valor"></add>
  </appSettings>

  <!--metodo para separar en otro archivo-->
  <!--<connectionStrings configSource="appConnectionStrings.config">-->
  <!--</connectionStrings>-->
  
</configuration>